<div class='articles_card' id='card{{id}}'>
  <img
    src='{{photo}}'
    alt='{{name}}'
    class='articles_img'
  />
  <h1 class='articles_title'>{{name}}</h1>
  <p class='articles_description'>{{description}}</p>
  <a
    href='#'
    class='articles_button'
    style='background: var(--accent-accent)'
  >Read All</a>
</div>